---
# Only the main Sass file needs front matter (the dashes are enough)
---

$serif              : "JetBrains Mono", Georgia, Times, serif;
$sans-serif         : "JetBrains Mono", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$sans-serif-narrow  : "JetBrains Mono", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

$global-font-family : $serif;
$header-font-family : $sans-serif-narrow;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


$border-width: 3px;
$avatar-padding: 5px;

body {
    color: $text-color;
    h1, h2, h3, h4, h5, h6 {
        color: $text-bold-color;
    }
    strong {
        color: $text-bold-color;
        font-weight: 700;
    }
}

.masthead {
    border-bottom: $border-width solid $border-color;

    .site-title {
        display: none;
        font-size: 1px;
    }

    @media only screen and (max-width: $large) {
        .visible-links {
            justify-content: flex-start;
        }
    }
}

.search__toggle {
    color: $text-color;
  
    &:hover {
      color: mix($background-color, $text-bold-color, 25%);
    }
  }

.page__footer {
    border-top: $border-width solid $border-color;
}

.sidebar {
    opacity: 1;
    transition: opacity 0ms;
}

.toc {
    border: 3px solid $border-color;
    box-shadow: 4px 4px 0 0 $border-color;
    border-radius: 10px;
    overflow: auto;

    h4, ul {
        border-radius: 0;
    }
    a {
        font-size: 1.2em;
    }

    .nav__title {
        border-width: 0px 0px 3px 0px;
        border-color: $border-color;
        border-style: solid;
        color: $text-bold-color;
    }
}

.sidebar:hover {
    opacity: 1f;
}

.author__avatar {
    min-width: 100px;
    width: auto;
    height: auto;
    img {    
        padding: 0px;
        border: $border-width solid $border-color;
        max-width: 150px;

        transition: padding 400ms ease;
    }    

    img:hover {
        padding: $avatar-padding;
    }
}



.author__content {
    min-width: 220px;
    vertical-align: top;
    .author__name {
        font-weight: 800;
        text-transform: uppercase;
        font-family: "Noto Sans";
    }

    @media only screen and (max-width: $small) {
        .author__name {
            font-size: xx-large;
        }
        .author__bio {
            font-size: larger;
        }
    }

    @media only screen and (min-width: $small) and (max-width: $large) {
        vertical-align: middle;
        .author__name {
            font-size: 2.5em;    
        }
        .author__bio {
            font-size: 1.5em;
        }
    }

    @media only screen and (min-width: $large) {
        .author__name {
            font-size: 2em;    
        }
        .author__bio {
            font-size: 1.1em;
        }
    }
    
    
}

.author__urls-wrapper {
    .btn--inverse {
        font-size: large;
        border-radius: 10px;
        padding: 8px 15px;
        border: $border-width solid $border-color;
    }
}

.author__urls {
    @media only screen and (max-width: $large) {
        a {
            font-size: 1.5em;
        }
        right: auto;
    }    
}

.page__inner-wrap {
    .page__title {
        margin-top: 1.414em;
    }
}


.mfp-container {
    .mfp-arrow, .mfp-close {
        outline: 0px;
    }
}





.archive {
    .page__title {
        margin-top: 1.414em;
    }
}

.archive__subtitle {
    border-bottom: 1px solid $border-color;
}

.list__item {
    overflow: hidden;
    border-radius: 15px;
    border: $border-width solid $border-color;
    padding: 20px;
    margin: 30px 0px;
    box-shadow: 4px 4px 0 calc(-2 * #{$border-width}) $primary-color, 4px 4px 0 0 $border-color;
    position: relative;
    top: 0px; 
    left: 0px;

    transition: top 400ms ease, 
        left 400ms ease,
        box-shadow 400ms ease;
  }

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
}

.list__item:hover, .list__item:active {
    box-shadow: 8px 8px 0 calc(-1 * #{$border-width}) $primary-color, 8px 8px 0 0 $border-color;
    top: -4px; left: -4px;
} 

.list__item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 0px;
}

.archive__item {
    padding: 20px;
}

.archive__item-excerpt {
    margin: 0px;
}

.archive_item-noimage {
    //idk why the borders still have holes, but hopefully this minimizes it (* ￣︿￣)
    margin: -2px; 
    width: 40%;
    float: right;
    object-fit: scale-down;
    display: block;
    box-sizing: content-box;
    background-color: #edaa25;
}

.archive_item-image {
    margin: -2px;
    width: 40%;
    float: right;
    object-fit: cover;
    display: block;
    box-sizing: content-box;
}

.page__content {
    p,
    li,
    dl {
      font-size: 0.9em;
    }
}


//TODO: move to seperate file
//TODO: rename active to something not generic
.collapsible {
    margin: 1em 0px;
    border-radius: 15px;
    border: $border-width solid $border-color;
    overflow: auto;
}


.collapsible-button {
  background-color: $primary-color;
  color: $text-bold-color;
  font-weight: 700;
  font-size: 0.75em;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible-button:focus {
    outline: 0px;
}

.active, .collapsible-button:hover {
  background-color: $primary-highlight-color;
}

.collapsible-button:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.collapsible-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;

  div {
    border-radius: 0px;
    margin: 0;
  }
}


  
    